In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# Note: Since the same api_keys file is used for multiple activities, it should be in the 
# folder one level below this notebook
import sys
sys.path.append('../')
from api_keys import g_key

In [2]:
city_data = pd.read_csv("../output_data/citydata.csv")
city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Colac,-38.3333,143.5833,55.62,88,91,12.44,AU,1634960609
1,Kozhva,65.1073,57.0459,34.90,97,100,11.16,RU,1634960610
2,Ushuaia,-54.8000,-68.3000,38.86,93,75,32.21,AR,1634960608
3,Rikitea,-23.1203,-134.9692,74.16,84,7,19.75,PF,1634960550
4,Butaritari,3.0707,172.7902,82.51,75,88,17.90,KI,1634960611
...,...,...,...,...,...,...,...,...,...
569,Khani,41.9563,42.9566,35.17,56,0,5.44,GE,1634960859
570,Haimen,23.1935,116.6142,67.89,68,73,11.81,CN,1634960860
571,Belgrade,44.8040,20.4651,53.65,100,75,10.36,RS,1634960700
572,Amapá,1.0000,-52.0000,70.99,99,98,2.35,BR,1634960860
573,Tamandaré,-8.7597,-35.1047,76.89,86,20,5.61,BR,1634960861

In [3]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_data[["Lat", "Lng"]]

# Fill NaN values and convert to float
rating = city_data["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#Start narrowing cities by weather preferences

#Drop cities with max temp > 85
cities_myweather = city_data[(city_data["Max Temp"] <= 85)]

#Drop cities with max temp < 50
cities_myweather = cities_myweather[(cities_myweather["Max Temp"] >= 50)]

#Drop cities with humidity > 70
cities_myweather = cities_myweather[(cities_myweather["Humidity"] <= 70)]

#Drop cities with humidity < 40 (Not TOO Dry...No deserts)
cities_myweather = cities_myweather[(cities_myweather["Humidity"] >= 40)]

#Drop US cities since I want to travel international
cities_myweather = cities_myweather[(cities_myweather["Country"] != "US")]
cities_myweather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,Bluff,-46.6000,168.3333,56.14,70,97,12.50,NZ,1634960611
25,Sur,22.5667,59.5289,83.21,64,0,6.80,OM,1634960620
34,Mataura,-46.1927,168.8643,70.36,43,96,3.04,NZ,1634960625
37,Avarua,-21.2078,-159.7750,73.45,64,99,6.91,CK,1634960626
56,Busselton,-33.6500,115.3333,65.98,53,0,6.76,AU,1634960634
...,...,...,...,...,...,...,...,...,...
541,Sarauli,28.5000,79.1000,76.23,53,0,5.75,IN,1634960849
559,Panzhihua,26.5851,101.7128,64.62,68,95,1.32,CN,1634960856
564,Netanya,32.3329,34.8599,64.94,62,0,7.27,IL,1634960858
568,Bambanglipuro,-7.9500,110.2833,71.60,62,100,7.94,ID,1634960859
570,Haimen,23.1935,116.6142,67.89,68,73,11.81,CN,1634960860

In [5]:
hotel_df = cities_myweather.copy()
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.reset_index()
hotel_df



# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


for index in range(len(hotel_df)):
    #target_coordinates 
    target_coordinates = f"{hotel_df.loc[index, 'Lat']}, {hotel_df.loc[index, 'Lng']}"
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Processing Record {index} : {results[0]['name']}")
        hotel_df.loc[index, 'Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Lng'] = results[0]['geometry']['location']['lng']
        hotel_df.loc[index, 'Hotel Name'] = results[1]['name']
        
    except (KeyError, IndexError):
        print(f"Missing result... skipping {hotel_df.loc[index, 'City']}")
        

        
#Drop Cities with no hotels 
hotel_df = hotel_df[(hotel_df["Hotel Name"] != "")]
        
hotel_df

Processing Record 0 : Bluff Homestead - Guesthouse & Campervan Park
Processing Record 1 : Sur Plaza Hotel
Processing Record 2 : Ellie's Villa
Processing Record 3 : Paradise Inn
Processing Record 4 : Observatory Guest House
Processing Record 5 : Juvinal Martin
Missing result... skipping Airai
Processing Record 6 : Hotel Portal del Sol
Processing Record 7 : Hotel Tolosa
Processing Record 8 : Hotel do Campo
Processing Record 9 : HOTEL SAN FELIPE
Processing Record 10 : The Halyards Hotel
Processing Record 11 : Hostal Las Lilas
Processing Record 12 : Ron and Tony's Bed & Breakfast
Processing Record 13 : Hotel RIKMAN Continental
Processing Record 14 : 味処・民宿 まつや
Processing Record 15 : Hospitality Carnarvon
Missing result... skipping Bokoro
Processing Record 17 : Hotel Recanto Dos Ipês
Processing Record 18 : Hotel les Arcades
Processing Record 19 : Port Lincoln Hotel
Processing Record 20 : Gostinitsa Rosmorport.
Missing result... skipping Ol'ga
Processing Record 21 : Padma'r Sworone
Processing Record 22 : Hotel Alejandro I
Processing Record 23 : Hotel Chik Chik Namibe
Processing Record 24 : 39 On Nile Guest House
Processing Record 25 : Taloa Heights
Processing Record 26 : Hotel del Comahue
Missing result... skipping Doka
Processing Record 28 : Mingshihui Jinchang International Hotel
Processing Record 29 : Hwange Colliery Guest House
Processing Record 30 : Atlantis Hotel
Processing Record 31 : Kingsgate Hotel Te Anau
Processing Record 32 : Hotel Sunrise Choshi
Processing Record 33 : Kaitangata Motor Camp
Missing result... skipping Kaitangata
Processing Record 34 : MAYFAIR Rourkela
Processing Record 35 : GreenTree Inn Linxia Autonomous Prefecture Linxia Oxford River Avenue Express Hotel
Processing Record 36 : Shimoda Tokyu Hotel
Processing Record 37 : Radhe Duplex Lalpur
Processing Record 38 : Sher-E-Panjab family restaurant and Dhaba
Processing Record 39 : The George
Processing Record 40 : Grage Hotel Bengkulu
Processing Record 41 : Hospitality Esperance
Processing Record 42 : penginapan citra alam
Processing Record 43 : Masuda Green Hotel Morris
Processing Record 44 : Daru Lodge
Processing Record 45 : Thanda Vista B&B
Processing Record 46 : Foreshore Motor Inn
Processing Record 47 : Hotel de la Falaise
Missing result... skipping Marzuq
Processing Record 49 : Kasakchiya Luxury Suites
Missing result... skipping Karia
Processing Record 50 : Mercure Padang
Processing Record 51 : Hotel Narayan Avezika Comfort
Processing Record 52 : Oyster Bay House Rental
Processing Record 53 : Hotel Xaguate
Processing Record 54 : オーベルジュ・アガルイ
Processing Record 55 : Hotel West
Processing Record 56 : Hotel Atoll Emerald Miyakojima
Processing Record 57 : Sadokamoko Onsen Kohanno Yado Yoshidaya
Processing Record 58 : Thank Inn Chain Hotel gansu wuwei liangzhou district xiguan middle road
Processing Record 59 : Hotel Jardim
Processing Record 60 : Xiushui Hotel
Missing result... skipping Thinadhoo
Processing Record 62 : North Gate Hostel
Processing Record 63 : Hilton Garden Inn Qidong
Processing Record 64 : Ruth Guest House
Processing Record 65 : Lords Inn Somnath
Processing Record 66 : Copamarina Beach Resort & Spa
Processing Record 67 : Kost Pria
Processing Record 68 : Iroha-ya Inn
Processing Record 69 : Hôtel & Restaurant DIANA Ambilobe
Processing Record 70 : Protea Hotel by Marriott Knysna Quays
Processing Record 71 : Hotel Syariah CN Darussalam
Processing Record 72 : Katsuura Hotel Mikazuki
Processing Record 73 : Sabunyuma So
Processing Record 74 : Hosteria Sampedro
Processing Record 75 : Masago
Processing Record 76 : فندق الماسة
Missing result... skipping Laela
Processing Record 78 : Hôtel Cap Macabou
Processing Record 79 : Maa Karanjai Sweet And Hotel 🏨
Processing Record 80 : 晋州快捷酒店
Processing Record 81 : Dubai Hotel - Também sua casa!
Processing Record 82 : Guesthouse Nara Komachi
Processing Record 83 : Lugoo goods
Processing Record 84 : Pudong Holiday Hotel
Processing Record 85 : رابطة الفنانين الفلسطينيين
Processing Record 86 : LT Aparthotel
Processing Record 87 : Barberton B&B
Processing Record 88 : VS Villa
Processing Record 89 : Emirdağ Öğretmenevi
Processing Record 90 : VSSUT Guest House
Processing Record 91 : Dr.Zakir Khan
Processing Record 92 : Electric Power Hotel
Processing Record 93 : King Koresh Hotel
Processing Record 94 : Puri Brata
Processing Record 95 : Jinghao Business Hotel

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,7,Bluff,-46.602332,168.339760,56.14,70,97,12.50,NZ,1634960611,Bradshaw House Bluff
1,25,Sur,22.566435,59.495858,83.21,64,0,6.80,OM,1634960620,Al Ayjah Plaza Hotel
2,34,Mataura,-46.201943,168.855043,70.36,43,96,3.04,NZ,1634960625,Southland Organic Farmstay
3,37,Avarua,-21.205303,-159.769598,73.45,64,99,6.91,CK,1634960626,Club Raro Resort
4,56,Busselton,-33.646393,115.348676,65.98,53,0,6.76,AU,1634960634,Restawile Motel
...,...,...,...,...,...,...,...,...,...,...,...
91,541,Sarauli,28.493725,79.091705,76.23,53,0,5.75,IN,1634960849,Sunit Gupta Csc Center
92,559,Panzhihua,26.562135,101.702937,64.62,68,95,1.32,CN,1634960856,Jinsha Hotel
93,564,Netanya,32.330596,34.853476,64.94,62,0,7.27,IL,1634960858,Island Luxurious Suites Hotel
94,568,Bambanglipuro,-7.977939,110.268809,71.60,62,100,7.94,ID,1634960859,NGASEM HOMESTAY
95,570,Haimen,23.197073,116.628820,67.89,68,73,11.81,CN,1634960860,Green Tree Lnn C haoyang Haimen Smart Business...

In [6]:
#Drop Cities with no hotels 
hotel_df = hotel_df[(hotel_df["Hotel Name"] != "")]
        
hotel_df

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,7,Bluff,-46.602332,168.339760,56.14,70,97,12.50,NZ,1634960611,Bradshaw House Bluff
1,25,Sur,22.566435,59.495858,83.21,64,0,6.80,OM,1634960620,Al Ayjah Plaza Hotel
2,34,Mataura,-46.201943,168.855043,70.36,43,96,3.04,NZ,1634960625,Southland Organic Farmstay
3,37,Avarua,-21.205303,-159.769598,73.45,64,99,6.91,CK,1634960626,Club Raro Resort
4,56,Busselton,-33.646393,115.348676,65.98,53,0,6.76,AU,1634960634,Restawile Motel
...,...,...,...,...,...,...,...,...,...,...,...
91,541,Sarauli,28.493725,79.091705,76.23,53,0,5.75,IN,1634960849,Sunit Gupta Csc Center
92,559,Panzhihua,26.562135,101.702937,64.62,68,95,1.32,CN,1634960856,Jinsha Hotel
93,564,Netanya,32.330596,34.853476,64.94,62,0,7.27,IL,1634960858,Island Luxurious Suites Hotel
94,568,Bambanglipuro,-7.977939,110.268809,71.60,62,100,7.94,ID,1634960859,NGASEM HOMESTAY
95,570,Haimen,23.197073,116.628820,67.89,68,73,11.81,CN,1634960860,Green Tree Lnn C haoyang Haimen Smart Business...

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))